.App {
   /* text-align: center; */
   width: 100vw;
   /* height: 100vh; */
   min-height: 100vh;

   background-image: url('../src/components/images/557872-rick-morty.jpg');
   /* background-color: rgba(0, 0, 0, 0.5); */
   /* opacity: 0.6; */
   background-repeat: no-repeat;
   background-size: cover;
   /* background-attachment: fixed; */
   display: flex; 
   flex-direction: column;
   position: relative;

}

/* ::before es un pseudo-elemento de CSS que se utiliza para crear contenido adicional antes del contenido de un elemento seleccionado. Es similar a un pseudo-elemento ::after, que se utiliza para crear contenido adicional después del contenido de un elemento seleccionado */

.App::before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   /* background-color: rgba(255, 255, 255, 0.5); */
}